<app-navbar></app-navbar>
<div class="container">
    <div class="text-center mt-5">
      <h3>SALES PREDICTION</h3>
      <div class="content">
         <p>
          A sales forecast is a prediction of future sales revenue. Sales forecasts are usually based on historical data, industry trends, and the status of the current sales pipeline. Businesses use the sales forecast to estimate weekly, monthly, quarterly, and annual sales totals. Just like a weather forecast, your team should view your sales forecast as a plan to work from, not a firm prediction. Sales forecasting is also different from sales goal-setting. While a sales goal describes what you want to happen, a sales forecast estimates what will happen, regardless of your goal.</p>

        <h4>Want to know your sales prediction !!</h4>
        <button class="btn"><a  href="javascript:void(0);"  routerLink="/login" class="nav-link" >Get started</a></button>
        
        
     
      </div>
    </div>
  </div>